<div class="main">
  <div class="navbar">
    <nav>
      <ul>
        <Button (click)="Home()">Home</Button>
        <button (click)="Cre()">Create</button>
        <button (click)="Mb()">MangeBlog</button>
        




      </ul>
    </nav>

  </div>

  <div [ngSwitch]="item">

    <app-create (child)="re($event)"  *ngSwitchCase="'Cre'"></app-create>
    <app-manage [item]="data" (child)="red($event)" *ngSwitchCase="'MB'"></app-manage>
    <app-home [item]="data" (child)="rec($event)" *ngSwitchCase="'home'"></app-home>
    <app-view [item]="data1" *ngSwitchCase="'view'"></app-view>




  </div>

  


</div>




